<div class="container">
  <div class="infos">
    <div class="data">
      <h1 class="name">Nathan Kosmalski</h1>
      <p class="slogan">
        <!-- "Explorando o universo do desenvolvimento, transformando ideias em realidade, uma linha de cada vez. Sempre em busca de novos desafios para ir além 🚀✨" -->
        {{ 'ABOUT-ME.SLOGAN' | translate}}
      </p>
      <button class="btn-primary btn" (click)="downObjectives()">{{'ABOUT-ME.KNOW-ME' | translate}}</button>
    </div>
    <div class="hero">
      <img src="../../../../assets/imgs/Nathan.png" alt="Foto do dono do portfólio">
    </div>
  </div>
  <div class="techs">
    <h1>
      {{'ABOUT-ME.TECHS' | translate}}
    </h1>

    <div class="list">
      <div class="tech">
        <img src="../../../../assets/icons/node.svg" alt="icone do Node">
        <h1>Node.js</h1>
      </div>
      <div class="tech">
        <img src="../../../../assets/icons/java.svg" alt="icone do Java">
        <h1>Java</h1>
      </div>
      <div class="tech">
        <img src="../../../../assets/icons/postgresql.svg" alt="icone do PostgreSQL">
        <h1>PostgreSQL</h1>
      </div>
      <div class="tech">
        <img src="../../../../assets/icons/angularsvg.svg" alt="icone do Angular">
        <h1>Angular</h1>
      </div>
      <div class="tech">
        <img src="../../../../assets/icons/typescript.svg" alt="icone do Typescript">
        <h1>TypeScript</h1>
      </div>
    </div>
  </div>
</div>