.container{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.container img {
  max-width: 90dvw;
  max-height: 90dvh;
  object-fit: contain;
}
