.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--preto);
  color: var(--branco);
}

.top{
  width: 80vw;
  font-family: var(--roboto);
}

.project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;

  max-width: 80vw;
}

.infos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  background: linear-gradient(to top right, var(--preto), var(--preto-medio));

  border-radius: 6px;
  border: 1px solid var(--preto-claro);
  color: var(--branco);

  max-width: 80vw;
  padding: 1.5rem;
  gap: 1rem;
}

.infos p{
  font-family: var(--mono);
}

.title{
  display: flex;
  gap: 1rem;

  font-family: var(--roboto);
}

.techs{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tech{
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  border: 0.1rem solid #1b1b1b;
  border-radius: 6px;
  gap: 0.4rem;
}
