<div class="container">
  <div class="hero">
    <h1>
      Sobre mim!
    </h1>
    <img src="../../../../assets/imgs/Foguete.svg" alt="Imagem de um foguete">
  </div>
  <div class="data">
    <div class="infos">
      <div class="info">
        <img src="../../../../assets/icons/age.svg" alt="Icone de usuário">
        <p>22 anos</p>
      </div>
      <div class="info">
        <img src="../../../../assets/icons/location.svg" alt="Icone de localização">
        <p>Suzano/SP</p>
      </div>
    </div>
    <div class="links">
      <div class="btn-secundary link">
        <img src="../../../../assets/icons/email.svg" alt="Icone de localização">
        <p>E-mail</p>
      </div>
      <div class="btn-secundary link">
        <img src="../../../../assets/icons/linkedin.svg" alt="Icone de localização">
        <p>LinkedIn</p>
      </div>
      <div class="btn-secundary link">
        <img src="../../../../assets/icons/github.svg" alt="Icone de localização">
        <p>GitHub</p>
      </div>
    </div>
    <div class="objective">
      <h1>
        Objetivo Profissional
      </h1>
      <p>Tenho como objetivo atuar em projetos em que possa utilizar  meus conhecimentos para seu desenvolvimento e crescimento,  tendo oportunidade assim de aprimora-los de maneira a continuar  a crescer constantemente na carreira.</p>
    </div>
    <div class="skills">
      <h1>Minhas Competências</h1>
      <ul class="skills-list">
        <li>Java, TypeScript, JavaScript, Node.js, Python</li>
        <li>SpringBoot, Angular</li>
        <li>PostgreSQL, ORACLE, MongoDB</li>
        <li>HTML5, CSS3, SCSS</li>
        <li>Git, GitHub, GitLab</li>
        <li>Inglês intermediário</li>
      </ul>
    </div>
  </div>
</div>
