<div class="container">
  <div class="studies">
    <h1>
      {{ 'STUDIES.TITLE' | translate}}
    </h1>
    <div class="cards">
      <div class="card">
        <img src="../../../../assets/icons/study.svg" alt="Icone de estudos">
        <p>{{ 'STUDIES.UNIVERSITY' | translate}}</p>
      </div>
      <div class="card">
        <img src="../../../../assets/icons/study.svg" alt="Icone de estudos">
        <p>{{ 'STUDIES.SCHOOL' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="courses">
    <h1>{{ 'STUDIES.COUSES-TITLE' | translate}}</h1>
    <app-carousel></app-carousel>
  </div>
</div>