<div class="container">
  <div class="studies">
    <h1>
      Formação Acadêmica
    </h1>
    <div class="cards">
      <div class="card">
        <img src="../../../../assets/icons/study.svg" alt="Icone de estudos">
        <p>Análise e desenvolvimento de sistemas pela FATEC - Mogi das Cruzes, 2021 - 2024.</p>
      </div>
      <div class="card">
        <img src="../../../../assets/icons/study.svg" alt="Icone de estudos">
        <p>Conclusão do Ensino médio pelo colégio Silogeu Suzano, 2018 - 2020.</p>
      </div>
    </div>
  </div>
  <div class="courses">
    <h1>Cursos Complementares</h1>
    <app-carousel></app-carousel>
  </div>
</div>
